<div id="container" style="width:500px">

<div id="header" style="background-color:#FFA500;">
<h1 style="margin-bottom:0;">Cam's Sandbox'</h1></div>

<div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;">
<b>Menu</b><br />
Menu 1<br />
Menu 2<br />
Menu 3</div>

<div id="content" style="background-color:#EEEEEE;height:200px;width:400px;float:left;">
<h1>This is my sample app.<h1>
<p>
The book: <a href="http://railstutorial.org/">Ruby on Rails 3 Tutorial: Learn Rails by Example</a>
</p>
<p>
<a href="http://entropy.ws/friends/cam/ruby-on-rails/rails-3-guide/">My notes on creating this mess</a>
</p>
</div>

<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Hello and goodbye</div>

</div>