<div class="container">
	
<h1 style="color:gray">"Oh, the Places You'll Go!" <small>- Dr. Suess</small></h1>
<p><%= render 'layouts/aboutme' %></p>
<hr>
<div class="row" >
	
	 <div class="span8">
			<a href="/"><img src="<%= @photo %>" width="100%" ></a>
		<p style="color:gray"><%= link_to "click for another photo", "/", %></p>
	</div>
	
	
	
	<div class="span4">
    <h3 style="color:gray">I'll never stop exploring</h3>
		<br />
		<p style="color:gray">To me heaven is wandering around the woods observing nature and trying to piece it all together. My family is responsible for my insatiable drive for exploration and learning. Here are some of my favorite shots I've taken while visiting my heaven on earth. If you are interested in any of my photos or just want to say hi please <a href="mailto:cam.fortin@gmail.com" >get in touch</a>.</p>
		<p style="color:gray" class="pull-right">Taken with love by <a href="http://www.steepravine.com">Cam</a></p>
	</div>
	
</div>

<hr>
<div class="row">
	
	<div class="span3">
		<h2><a href="http://www.flickr.com/photos/friendshipgoodtimes/sets/72157628412810149/">greatest hits</a></h2>
		<p>A flickr set of some of my favorite shots from all over the bay area.</p>
	</div>
	
	<div class="span3">
		<h2><a href="http://www.steepravine.com">steep ravine</a></h2>
		<p>My frequently updated tumblr of bay area photos. Mostly mushrooms, landscapes, night scenes and nature.</p>
	</div>
	
	<div class="span3">
		<h2><a href="http://humblephoto.com/">humble photo</a></h2>
		<p>My not-so-frequently updated 500px portfolio</p>
	</div>
	
	<div class="span3">
	<p class="alert alert-info">If you are interested in buying or using any of my photos please <a href="mailto:cam.fortin@gmail.com" class="happy">get in touch</a>, nothing makes me happier than sharing my work.</p>
	</div>
</div>
<hr>
<a href="http://www.flickr.com/photos/friendshipgoodtimes/6509444937/" title="Angel Island to San Francisco: Bridge to Bridge by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7005/6509444937_343386a1d3_b.jpg" width="100%" alt="Angel Island to San Francisco: Bridge to Bridge"></a><p class="happy">taken from angel island on my 28th birthday</p>
<hr>
</div>
</div>
