<h1>About this app</h1>
<p>Built with Ruby on Rails</p>
<h2>Thing's to help Cam:</h2>
<p>commit to git</p>
$ bundle exec rspec spec/
$ git add .
$ git commit -m "notes here"
$ git checkout master
$ git merge branch-name
<p>push to heroku</p>
$ git push
$ git push heroku