<div class="container">
<h2 class="happy">Hi, I'm Cam!</h2>
<p><a href="mailto:cam.fortin@gmail.com">email me</a> | <a href="http://www.twitter.com/#!/camfortin">@camfortin</a> | <a href="http://www.steepravine.com">my tumblr</a> | <%= link_to "personal goals", goals_path %></p>
</div>

<hr>

<div class="row">
<div class="span8 offset2">
<div class="well">
<h3>About this App</h3>
<ul>
<li>built with ruby on rails, learn more here: <a href="http://railscasts.com/">rails casts</a></li>
<li>hosted with <a href="http://heroku.com">heroku</a></li>
<li>repo at <a href="http://www.github.com/camfortin">github</a></li>
<li>css framework by <a href="http://twitter.github.com/bootstrap/">twitter bootstrap</a></li>
</ul>

<hr>

<h3>Site Upgrades</h3>
<ul>
	<li>add blog model</li>
	<li>figure out how to use <a href="http://www.1stwebdesigner.com/css/top-jquery-chart-libraries-interactive-charts/"</a>jquery charts</li>
	<li>figure out how to use <a href="https://github.com/JoelBesada/scrollpath">scroll path</a></li>
	<li>wireframe a "projects" page and build it with jquery carousels etc.</li>
</ul>

<hr>
<h3>Benny App Roadmap</h3>
<ul>
<li>add model: photo url, name, quip</li>
<li>add input fields so people can add/suggest new entries</li>
<li>style: picture of benny and nice UI</li>
</ul>

</div>
</div>

</div>