<% benny = image_tag("benny.png", :alt => "Benny and Rick", :class => "round smallpic") %>
<%= link_to benny, benny_path %>

<h2>Benny Love Generator</h2>

<h2 class="benny round"><%= random %></h2>
<br>
<%= link_to "Do it again!", benny_path, :class => "signup_button round" %>
<br>
<h6 class="soft">Welcome to the family <a href="http://www.theedmondsfamily.com/">Benny</a>! Have a suggestion or an entry for Benny's love generator? <a href="https://docs.google.com/spreadsheet/embeddedform?formkey=dGZPMExtN3dnVDY2d2dfUFB1SkpUZHc6MQ" class="submit round lightview" data-lightview-type="iframe" data-lightview-options="width: 600, height: 420">Enter it here!</a></h6>
