<p>Welcome to the family Benny! In case you ever need some extra love just visit this page and hit the "Do it again" button until your heart is full again!</p>

<h1><%= random %></h1>
<br>

<%= link_to "Do it again!", benny_path, :class => "signup_button round" %>

