<div class="container">

<div class="row" >
	
	 <div class="span7 alert alert-info"style="height:150px">
		<h2><%= random %></h2>
		<br />
		<%= link_to "Do it again!", benny_path, :class => "btn btn-large btn-primary" %>
	</div>
	
	<div class="span4 well" height="400px">
    <h4>Benny Love Generator</h4>
		<br />
		<p>Welcome to the family <a href="http://www.theedmondsfamily.com/">benny</a>! If you ever need some love just visit this page and hit the "do it again" button for as long as you want!</p>
		<p>built with love by your uncle Cam</p>
	</div>
	
</div>


</div>