<div class="container">

<h3 style="color:gray">The Benny Love Generator</h3>

<hr>

<div class="row" >
	
	 <div class="span6 alert alert-info benny"style="height:150px">
		<h2><%= random %></h2>
		<br />
		<%= link_to "Do it again!", benny_path, :class => "btn btn-large btn-primary" %>
	</div>
	
	<div class="span4 well">
    <h3 style="color:gray">"love is all you need"</h3>
		<br />
		<p style="color:gray">Welcome to the family <a href="http://www.theedmondsfamily.com/">benny</a>! If you ever need some love just visit this page and hit the "do it again" button for as long as you want!</p>
		<p style="color:gray" class="pull-right">Built with love by your uncle <a href="http://www.steepravine.com">Cam</a></p>
	</div>
	
</div>


</div>