<h1>Photos, Products, Friendship and Good Times</h1>
<p>
I am just getting started with rails and I don't have many posts on this site. Check out my tumlbr <a href="http://funjai.com">Funjai</a>, or my blog about northern california vibes <a href="http://bolinas.co">bolinas.co</a> for more frequently updated awesomeness.
</p>
<h3>pages on this site</h3>
<ul>
  <li><a href="/photos/cascade-falls" class="bloglinks">cascade falls mushroom hunt</a></li>
  <li><%= link_to "goals", goals_path, :class => "bloglinks" %></li>
</ul>
