<h1>Cascade Falls Mushroom Hunt</h1>

<p>I went on a fantastic loop from cascade falls to the fire station on pantoll and back down on another small trail. perfection with mushrooms and waterfalls everywhere.</p>

<p>I ended up finding more mushrooms than anticipated, and I wish I had brought some home with me as soon as I got home and realized a few were choice edibles (candy caps and hedgehog mushrooms). I also found a few tiny "earpick" mushrooms growing out of a douglas fir cone, they are the solitary species of their genus and have incredible looking spore spikes hanging down from their kidney shaped caps.</p>

<h3>Slideshow</h3>

<object width="800" height="600"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Ffriendshipgoodtimes%2Fsets%2F72157629244046090%2Fshow%2F&page_show_back_url=%2Fphotos%2Ffriendshipgoodtimes%2Fsets%2F72157629244046090%2F&set_id=72157629244046090&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=109615"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=109615" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Ffriendshipgoodtimes%2Fsets%2F72157629244046090%2Fshow%2F&page_show_back_url=%2Fphotos%2Ffriendshipgoodtimes%2Fsets%2F72157629244046090%2F&set_id=72157629244046090&jump_to=" width="800" height="600"></embed></object>
<p class = "soft"><a href="http://www.flickr.com/photos/friendshipgoodtimes/sets/72157629244046090/with/6992018135/">No slideshow? View it on flickr: cascade falls mushroom hunt</a></p>

<h3>Natural Bridge</h3>
<a href="http://www.flickr.com/photos/friendshipgoodtimes/6992018135/" title="Natual Bridge by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7176/6992018135_0c448487a7_b.jpg" width="100%" alt="Natual Bridge"></a>
<p></p>
<h3>Earpick Fungus growing out of Douglas Fir Cone</h3>
<a href="http://www.flickr.com/photos/friendshipgoodtimes/6845902546/" title="Earpick Fungus Growing out of Douglas Fir Cones by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7059/6845902546_ec16c0d695_b.jpg" width="100%" alt="Earpick Fungus Growing out of Douglas Fir Cones"></a>
<p></p>
<h3>Hedgehog Mushrooms</h3>
<a href="http://www.flickr.com/photos/friendshipgoodtimes/6845908190/" title="Hedgehog Mushrooms by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7054/6845908190_90eae6f01a_b.jpg" width="100%" alt="Hedgehog Mushrooms"></a>
<p></p>
<h3>Candy Caps</h3>
<a href="http://www.flickr.com/photos/friendshipgoodtimes/6845910114/" title="Candy Cap Family by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7177/6845910114_ef88b6145d_b.jpg" width="100%" alt="Candy Cap Family"></a>
<p></p>
<h3>Red Mushroom Side</h3>
<a href="http://www.flickr.com/photos/friendshipgoodtimes/6845912420/" title="Red Mushroom Side by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7036/6845912420_f73c3d4c8e_b.jpg" width="100%" alt="Red Mushroom Side"></a>
<p></p>
<h3>Coral Fungus</h3>
<a href="http://www.flickr.com/photos/friendshipgoodtimes/6992046473/" title="Coral Mushroom by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7059/6992046473_0dfaa9b626_b.jpg" width="100%" alt="Coral Mushroom"></a>
<p></p>
<h3>Log Jam!</h3>
<a href="http://www.flickr.com/photos/friendshipgoodtimes/6845916078/" title="Log Pile by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7190/6845916078_03a25f323e_b.jpg" width="100%" alt="Log Pile"></a>
