<h1>Virtually Me!</h1>
<p><a href="mailto:cam.fortin@gmail.com">email me</a><p>
<p><a href="http://www.twitter.com/#!/camfortin">@camfortin</a> | <a href="http://www.funjai.com">my tumblr</a> (mostly photos of the bay area)<p>