<div class="container">
<h2 class="happy">As my <a href="http://www.loveyourlife.us">wife</a> says, it's important to have goals</h2>

<hr>

<div class="row">
<div class="span8 offset1 well">
<h3>Adventures</h3>
 
<ul>
  <li>Save enough money to take Cary on a honeymoon in Africa like she deserves</li>
  <li>Go fly fishing for trout down near the secret spot in santa cruz chuck told me about</li>
	<li>Go to every continent</li>
</ul>

<hr>
<h3>Physical</h3>
 
<ul>
  <li>Play squash again (why can't I play? I tore a tendon in my elbow while chopping down a tree to prove to my wife's father I was manly enough to deserve her hand in marriage)</li>
  <li>Hike and take photos at least once a week</li>
</ul>

<hr>

<h3>Work Now</h3>
 
<ul>
  <li>Cost effective customer acquisition and retention</li>
  <li>Stay ahead of the "mobile"solomo"" curve and eat up market share</li>
  <li>Create beautiful, groundbreaking and functional products</li>
	<li>Use data and connections to personalize </li>
  <li>Community and sharing</li>
</ul>

<hr>

<h3>Work Later</h3>
 
<ul>
  <li>Start or be a part of something from the beginning that matters. I want to die knowing I decreased entropy in my tiny part of the universe.</li>
</ul>

<hr>
<h2 class="happy">Upgrades to this site</h2>

<hr>

<h3>blog</h3>
<ul>
	<li>use stringex to make friendly blog urls</li>
	<li>finish layouts</li>
	<li>add authentication (devise) so I can add posts from anywhere</li>
	<li>add <a href="http://fancybox.net/">fancybox</a> to display image galleries</li>
</ul>

<hr>

<h3>projects</h3>
<ul>
	<li>wireframe a "projects" page and build it with jquery carousels etc</li>
	<li>figure out how to use <a href="http://www.1stwebdesigner.com/css/top-jquery-chart-libraries-interactive-charts/"</a>jquery charts</li>
	<li>use <a href="https://github.com/JoelBesada/scrollpath">scroll path</a> in a cool project</li>
</ul>

<hr>

</div>
</div>
</div>