<div class="container">
<h2>As my wife says, it's <a href="http://www.loveyourlife.us">important to have goals</a></h2>

<hr>

<div class="row">
<div class="span8 offset1 well">
<h3>Adventures</h3>
 
<ul>
  <li>Save enough money to take Cary on a honeymoon in Africa like she deserves</li>
  <li>Go fly fishing for trout down near the secret spot in santa cruz chuck told me about</li>
</ul>

<hr>
<h3>Physical</h3>
 
<ul>
  <li>Play squash again (why can't I play? I tore a tendon in my elbow while chopping down a tree to prove to my wife's father I was manly enough to deserve her hand in marriage)</li>
  <li>Start <a href="http://en.wikipedia.org/wiki/Cyclo-cross">start doing cyclo-cross</a></li>
</ul>

<hr>

<h3>Work Now</h3>
 
<ul>
  <li>Cost effective customer acquisition and retention</li>
  <li>Stay ahead of the mobile curve and eat up market share</li>
  <li>Beautiful and functional products</li>
	<li>Personalization</li>
  <li>Community and sharing</li>
</ul>

<hr>

<h3>Work Later</h3>
 
<ul>
  <li>Start or be a part of something from the beginning that matters. I want to die knowing I decreased entropy in my tiny part of the universe.</li>
</ul>

<hr>

<h3>Personal</h3>
 
<ul>
  <li>stay excited about the world around me</li>
  <li>become more humble with each passing year</li>
</ul>

<hr>

<h3>Coding</h3>
 
<ul>
  <li><a href="/about">visit goals specific to camfortin.com here</a></li>
</ul>
</div>
</div>
</div>