<h1>My Goals</h1>

<h3>Coding</h3>
 
<ul>
  <li>Get rails 3.2 app up and running (sqlite local and pg on heroku)</li>
  <li>Learn what the fuck jeremiah was talking about - "data model"</li>
</ul>

<h3>Adventures</h3>
 
<ul>
  <li>Boar hunt with Amelia: <strong>contact wineries to see if we can hunt on their land</strong></li>
  <li>Go fly fishing for trout down near santa cruz at the place chuck talked about</li>
</ul>

<h3>Work</h3>
 
<ul>
  <li>Personalization</li>
  <li>Community and sharing</li>
  <li>Cost effective customer acquisition and retention</li>
</ul>