<div class="container">
<h2 class="happy">As my <a href="http://www.loveyourlife.us">wife</a> says, it's important to have goals</h2>

<hr>

<div class="row">
<div class="span8 offset1 well">
<h3>Adventures</h3>
 
<ul>
  <li>Save enough money to take my wonderful wife Cary on a honeymoon</li>
  <li>Go fly fishing for trout down near the secret spot in santa cruz chuck told me about</li>
	<li>Find and name a mushroom new to science</li>
</ul>

<hr>
<h3>Physical</h3>
 
<ul>
  <li>Play squash again (why can't I play? I tore a tendon in my elbow while chopping down a tree to prove to my wife's father I was manly enough to deserve her hand in marriage)</li>
  <li>Hike and take photos at least once a week</li>
</ul>

<hr>

<h3>Work Now</h3>
 
<ul>
  <li>Cost effective customer acquisition and retention</li>
  <li>Create beautiful, groundbreaking and functional products</li>
	<li>Use data and connections to personalize </li>
  <li>Create the best online wine community</li>
</ul>

<hr>

<h3>Work Later</h3>
 
<ul>
  <li>Start or be a part of something from the beginning that matters. I want to die knowing I decreased entropy in my tiny part of the universe.</li>
</ul>

</div>
</div>
</div>
<%= render 'layouts/aboutme' %>