<h1>Cam Fortin's Homemade Rails App</h1>

<p>One day this app will display my photos and blog posts on things I learn while on the job at wine.com as a product manager and analytics ninja.<p>
	
<ul>
<li>built with ruby on rails, learn more here: <a href="http://railscasts.com/">rails casts</a></li>
<li>looks so sexy, thanks <a href= "http://foundation.zurb.com/docs/ui.php">foundation</li>
<li><a href="http://www.twitter.com/#!/camfortin">@camfortin</a> | <a href="http://www.camfortin.com">my tumblr</a></li>
</ul>
	
<%= link_to "Join the Community", signup_path, :class => "signup_button round" %>
