<div class="container">
<h2 class="happy">welcome to camfortin.com</h2>
<p><a href="/photos">bay area photographer</a>, customer experience at <a href="http://www.wine.com/v6/Screw-Cap-Wines/wine/list.aspx?N=7155+44&s=friends_cam&cid=friends_cam">wine.com</a>, avid science and nature enthusiast</p>
</div>
<hr>

<div class="container">
<div class="row">
	<div class="span12">
<a href="http://www.flickr.com/photos/friendshipgoodtimes/6288709507/" title="Bridge and Lights in the Headlands by camfortin, on Flickr"><img src="http://farm7.staticflickr.com/6095/6288709507_749f5e0486_b.jpg" width="100%" alt="Bridge and Lights in the Headlands"></a>
</div>
</div>
<br />
<hr>
<div class="container">
<div class="row">
	<div class="span8 offset2">
		<h4 class="happy" style="padding-bottom:10px">Salmon Fishing out of Half Moon Bay</h4>
		<a href="http://www.flickr.com/photos/friendshipgoodtimes/7186204838/" title="Half Moon Bay Salmon by camfortin, on Flickr"><img src="http://farm6.staticflickr.com/5453/7186204838_ced3579892_c.jpg" width="100%" alt="Half Moon Bay Salmon"></a>
		</div>
		</div>
		<hr>
	<div class="row">
	<div class="span8 offset2">
	<h4 class="happy" style="padding-bottom:10px">Tiny Sailboat and Big Foggy Bridge</h4>
	<a href="http://www.flickr.com/photos/friendshipgoodtimes/6842899172/" title="Foggy Golden Gate BW by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7048/6842899172_bdc934723f_c.jpg" width="100%" alt="Foggy Golden Gate BW"></a>
	</div>
</div>
<hr>
	<div class="row">
	<div class="span8 offset2">
	<h4 class="happy" style="padding-bottom:10px">Lupine Showing Off</h4>
<a href="http://www.flickr.com/photos/friendshipgoodtimes/7171361000/" title="Golden Gate Bridge and Purple Lupine by camfortin, on Flickr"><img src="http://farm6.staticflickr.com/5444/7171361000_691b4d5357_c.jpg" width="100%" alt="Golden Gate Bridge and Purple Lupine"></a>
  </div>
	</div>
</div>
<hr>
<div class="alert alert-info">
	<h3>thanks for visiting!</h3>
	<p> <%= link_to "photos", photos_path %> |
	<%= link_to "goals", goals_path %> | <%= link_to "thoughts", thoughts_path, %> | <%= link_to "benny love generator!", benny_path %></p>
</div>
</div>