<h1>Cam's Rails App in Progress</h1>

<p>
<a href="http://www.twitter.com/#!/camfortin">@camfortin</a> | <a href="http://www.funjai.com">my tumblr</a> | <a href="http://humblephoto.com/">my photo portfolio </a>
<p>

<%= link_to "Benny Love Generator!", benny_path, :class => "signup_button round" %>


