<h1>Cam Fortin's Homemade Rails App</h1>

<p>One day this app will display my photos and blog posts on things I learn while on the job at wine.com as a product manager and analytics ninja.<p>
	
<%= link_to "Join the Community", signup_path, :class => "signup_button round" %>
