<h1>Northern california lifestyle and adventures</h1>

<p>Do you constantly wander and take in the world around you? Want to share what you find? Want some neat schwag?<p>
	
<%= link_to "Join the Bolinas Rangers", signup_path, :class => "signup_button round" %>
