<h1>cam's rails app in progress</h1>

<div class="subnav">
  <ul class="nav nav-pills">
    <li><%= link_to "benny love generator!", benny_path, :class => "signup_button round" %></li>
	<li><%= link_to "photos", photos_path, :class => "bloglinks" %></li>
	<li><%= link_to "goals", goals_path, :class => "bloglinks" %></li>
	<li><%= link_to "blog", blog_path, :class => "bloglinks" %></li>
  </ul>
</div>

<section id="cam">
  <div class="page-header">
    <h1>Welcome <small>thanks for visiting</small></h1>
  </div>
  <div class="row">
    <div class="span3 columns">
      <h3>About this site</h3>
      <p>This is my rails 3.2 app in progress.</p>
      <a href="http://www.twitter.com/#/camfortin" target="_blank" class="btn">Say Hello</a>
    </div>
</section>



