<h1>Photos of Bay Area Nature, Night Scenes and Mushrooms</h1>

<p>For now you can visit my photos here <a href="http://humblephoto.com/">Cam's Humble Photos</a></p>

<img src="http://29.media.tumblr.com/tumblr_lzohquRDOb1qgxr01o1_500.jpg" alt="Black Trumpet Mushrooms" width="48%" />
<img src="http://25.media.tumblr.com/tumblr_lzi7m8yBmL1qgxr01o1_500.jpg" alt="Golden Gate" width="48%" />
<img src="http://30.media.tumblr.com/tumblr_lzohpqmzWA1qgxr01o1_500.jpg" alt="Rayes through the Redwoods" width="100%" />

