<div class="container">
	<h1>"I'd Rather be Taking Photos"</h1>
	<h2><a href="http://www.steepravine.com">steep ravine</a> | <a href="http://humblephoto.com/">humble photo</a><h2>
	<hr>
</div>
<div class="container">
Pages on this site: <a href="/photos/cascade-falls" class="bloglinks">cascade falls mushroom hunt</a>
</div>
<br/>
<div class="container">
<div class="span8">
  <h2>Plants Over Time #1: Ice Plant</h2>
  <p>A sequence of an Ice Plant blooming!</p>
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://farm6.staticflickr.com/5187/5629796525_fef357c0cf_z.jpg" alt="">
        <div class="carousel-caption">
          <h4>Ice Plant #1</h4>
          <p>An Ice Plant just starting to bloom.</p>
        </div>
      </div>
      <div class="item">
        <img src="http://farm6.staticflickr.com/5110/5630380346_39a58b0c0e_z.jpg" alt="">
        <div class="carousel-caption">
          <h4>Ice Plant #2</h4>
          <p>Ice Plant bloom half way open.</p>
        </div>
      </div>
      <div class="item">
        <img src="http://farm6.staticflickr.com/5147/5629797037_bdea8df7bd_z.jpg" alt="">
        <div class="carousel-caption">
          <h4>Ice Plant #3</h4>
          <p>Fully developed Ice Plant blossom.</p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
