<div class="container">
<h2 class="happy">"I'd Rather be Taking Photos"</h2>
<p>heaven is wandering around California with my camera</p>
<br />
<a href="http://www.flickr.com/photos/friendshipgoodtimes/6509444937/" title="Angel Island to San Francisco: Bridge to Bridge by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7005/6509444937_343386a1d3_b.jpg" width="100%" alt="Angel Island to San Francisco: Bridge to Bridge"></a><p class="happy">taken from angel island on my 28th birthday</p>
</div>
<hr>

<div class="row">
	
	<div class="span3">
		<h2><a href="http://www.flickr.com/photos/friendshipgoodtimes/sets/72157628412810149/">greatest hits</a></h2>
		<p>A flickr set of some of my favorite shots from all over the bay area.</p>
	</div>
	
	<div class="span3">
		<h2><a href="http://www.steepravine.com">steep ravine</a></h2>
		<p>My frequently updated tumblr of bay area photos. Mostly mushrooms, landscapes, night scenes and nature.</p>
	</div>
	
	<div class="span3">
		<h2><a href="http://humblephoto.com/">humble photo</a></h2>
		<p>My not-so-frequently updated portfolio</p>
	</div>
	
	<div class="span3">
	<p class="well">If you are interested in buying or using any of my photos please <a href="mailto:cam.fortin@gmail.com" class="happy">get in touch</a>, nothing makes me happier than sharing my work.</p>
	</div>
	
</div>


<div class="row">
<div class="span6">
<h2 class="happy">My Recent Favorite</h2>
<hr>
<a href="http://www.flickr.com/photos/friendshipgoodtimes/7171352936/" title="Golden Gate Bridge and Marshall Beach by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7227/7171352936_88c7b3eeb7_b.jpg" width="100%" alt="Golden Gate Bridge and Marshall Beach"></a>
</div>
<div class="span6">
  <h2 class="happy">Work in progress: Plants over Time</h2>
	<hr>
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://farm6.staticflickr.com/5187/5629796525_fef357c0cf_z.jpg" alt="">
        <div class="carousel-caption">
          <h4>Ice Plant #1</h4>
          <p>An Ice Plant just starting to bloom.</p>
        </div>
      </div>
      <div class="item">
        <img src="http://farm6.staticflickr.com/5110/5630380346_39a58b0c0e_z.jpg" alt="">
        <div class="carousel-caption">
          <h4>Ice Plant #2</h4>
          <p>Ice Plant bloom half way open.</p>
        </div>
      </div>
      <div class="item">
        <img src="http://farm6.staticflickr.com/5147/5629797037_bdea8df7bd_z.jpg" alt="">
        <div class="carousel-caption">
          <h4>Ice Plant #3</h4>
          <p>Fully developed Ice Plant blossom.</p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>

</div>
