<h1>Photos of Bay Area Nature, Night Scenes and Mushrooms</h1>
<ul>
  <li><a href="/photos/cascade-falls" class="bloglinks">cascade falls mushroom hunt</a></li>
</ul>

<a title="Foggy Golden Gate BW by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7048/6842899172_bdc934723f_b.jpg" width="100%" alt="Foggy Golden Gate BW" class="round"></a>

<a title="Mushroom Family on Wood by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7062/6974770867_947cd9e6f9_b.jpg" width="100%" alt="Mushroom Family on Wood" class="round"></a>

<a title="Muir Woods Trail by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7044/6974765625_0921f813f5_b.jpg" width="100% alt="Muir Woods Trail" class="round"></a>

<h2><a href="http://funjai.com">my tumblr "funjai"</a> | <a href="http://humblephoto.com/">my 500px portfolio </a><h2>
