<div class="container">
<h2 class="happy">"I'd Rather be Taking Photos"</h2>
<p>heaven is wandering around California with my camera</p>

<div class="row">
	
	<div class="span3">
		<h2><a href="http://www.flickr.com/photos/friendshipgoodtimes/sets/72157628412810149/">greatest hits</a></h2>
		<p>A flickr set of some of my favorite shots from all over the bay area.</p>
	</div>
	
	<div class="span3">
		<h2><a href="http://www.steepravine.com">steep ravine</a></h2>
		<p>My frequently updated tumblr of bay area photos. Mostly mushrooms, landscapes, night scenes and nature.</p>
	</div>
	
	<div class="span3">
		<h2><a href="http://humblephoto.com/">humble photo</a></h2>
		<p>My not-so-frequently updated 500px portfolio</p>
	</div>
	
	<div class="span3">
	<p class="alert alert-info">If you are interested in buying or using any of my photos please <a href="mailto:cam.fortin@gmail.com" class="happy">get in touch</a>, nothing makes me happier than sharing my work.</p>
	</div>
	
</div>
<a href="http://www.flickr.com/photos/friendshipgoodtimes/6509444937/" title="Angel Island to San Francisco: Bridge to Bridge by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7005/6509444937_343386a1d3_b.jpg" width="100%" alt="Angel Island to San Francisco: Bridge to Bridge"></a><p class="happy">taken from angel island on my 28th birthday</p>
<hr>
</div>
<div class="row">
	<div class="span6">
	  <h2 class="happy">Featured Slideshow</h2>
		<p>Mushrooms, my favorite subject</p>
	  <div id="myCarousel" class="carousel slide">
	    <div class="carousel-inner">
	      <div class="item active">
	        <img src="http://farm7.staticflickr.com/6097/6402904553_9fbf762c0f_z.jpg" alt="">
	      </div>
	      <div class="item">
	        <img src="http://farm9.staticflickr.com/8009/7641816610_d39385d57a_z.jpg" alt="">
	      </div>
	      <div class="item">
	        <img src="http://farm9.staticflickr.com/8145/7641718094_c0b3034bca_z.jpg" alt="">
	      </div>
	      <div class="item">
	        <img src="http://farm9.staticflickr.com/8422/7641830970_ce46f1c370_z.jpg">
	      </div>
	      <div class="item">
	        <img src="http://farm8.staticflickr.com/7124/7641820754_c3741ffe0e_z.jpg">
	      </div>
	      <div class="item">
	        <img src="http://farm8.staticflickr.com/7277/7641761698_75aa58b06f_z.jpg">
	      </div>

	    </div>
	    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	</div>
<div class="span6">
<h2 class="happy">Recent Favorite</h2>
<p>Saturated Golden Gate</p>
<a href="http://www.flickr.com/photos/friendshipgoodtimes/6828083023/" title="Saturated Golden Gate by camfortin, on Flickr"><img src="http://farm8.staticflickr.com/7156/6828083023_b661f81bae_z.jpg" width="100%" alt="Saturated Golden Gate"></a>
</div>


</div>
