<h1>Welcome to the sandbox</h1>
<br>
<p>The book: <a href="http://railstutorial.org/">Ruby on Rails 3 Tutorial: Learn Rails by Example</a></p>

<p><a href="http://entropy.ws/friends/cam/ruby-on-rails/rails-3-guide/">My crazy notes on creating this app</a></p>