<div class="container">
	<h1 class="happy">Thoughts & Ramblings</h1>
</div>
<hr>

<div class="row">
	<div class="span6">
		<div class="well">
		<h2>Recent Thoughts</h2>
		<p><a href="/thoughts/roll-your-own-kinda">"Roll Your Own Kinda"<a></p>
		</div>
	</div>
	<div class="span6">
	<div class="alert alert-info">
	<button class="close" data-dismiss="alert">×</button>
	<p>I'm still working on this section, but feel free to look around. I read non-fiction every night and do analysis all day. One of these days I'd like to apply my analytical abilities to the scientific and natural phenomenon that captivate me. The results will live here.</p>
	</div>
	</div>
</div>




