<div class="container">
<h1 class="happy">Roll Your Own Kinda</h1>
<p>go build something. but don't re-invent the wheel.</p>
</div>
<hr>
<div class="container">
<p>If you get everything you ask for you will never learn a thing. If you build everything from scratch you will never build something very helpful. While that may seem like a paradox I don't think it really is.</p>
</div>