<%- model_class = Post.new.class -%>
<div class="container">
<h1 class="happy">Cam's Thoughts</h1>
<hr>
<div class="row span10 offset1 well">
	
    <% @posts.each do |post| %>
      <p><h2><%= link_to post.title, post_path(post) %></h2> (<%= link_to "edit", edit_post_path(post) %>)</p>
			<hr>
    <% end %>
</div>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
</div>